.bod{
  border: black solid 1px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 10%);
  width: fit-content;
  border-radius: 10%;
  background-color:bisque;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 1px;
  padding-left: 100px;
  padding-top: 3px;
}
h2{
  text-align: center;
}

#yoo{
  width: 100px;
  height: 100px;
}

/* h1{
  font-style:normal;
  text-align: center;
}
button{
  background-color: hsla(257, 51%, 66%, 0.8);
  border-radius: 10px;
  margin-left: 30px;
  
}
.dim{
  border-radius: 10px;
  background-color: hsla(173, 42%, 72%, 0.552);
  text-align: center;
}

h2{
  text-align: center;
}
p{
  font-weight: bolder;
  font-size: larger;
  text-align: center;
} */

/* .coo{
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 5px rgba(112, 116, 207, 0.608);
  border-radius: 10%;
  border: solid black 1px;
} */

/* body{
  background-color: #80C4E9;
}
.head{
  text-align: center;
}
li{
  border: solid black 0.1rem;
  box-shadow: black;
  width: 18rem;
  height: 2rem;
  margin-left: 18rem;
  text-decoration: solid;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.del{
  background-color:#605EA1;
  border-radius: 0.5rem;
}

.up{
  border-radius: 0.5rem;
  background-color: bisque;
}

.tas{
  font-size: larger;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.inu{
  border: solid black 0.1rem;
  font-size: larger;
  width: 15rem;
  height: 2rem;
}

.add{
  background-color:#605EA1;
  border-radius: 0.5rem;
}
.ma{
  text-align: center;
  background-color: #80C4E9;
} */